/* table style */

.content-table {
  width: 90%;
  min-width: 600px;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}

.content-table thead tr{
  background-color: #008484;
  color: white;
  text-align: left;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #008484;
}

/* buttons in table row */

.content-table tbody tr td.table-buttons {
  max-width: 100px;
  display: flex;
  flex-direction: row;
}

.content-table tbody tr td.table-buttons a {
  display: block;
  padding: 5px;
}

.content-table tbody tr td.table-buttons a:not(:first-child) {
  margin-left: 10px;
}

.content-table tbody tr td.table-buttons a.delete-btn {
  color: red;
}

.content-table tbody tr td.table-buttons a.delete-btn:hover {
  color: rgb(134, 37, 37);
}

.content-table tbody tr td.table-buttons a.edit-btn {
  background-color: #ffbd03;
  border-radius: 5px;
  padding: 5px 10px;
  color: rgb(48, 44, 44);
  transition: background-color 0.2s;
}

.content-table tbody tr td.table-buttons a.edit-btn:hover {
  background-color: #e1a606;
}