:root {
  --display-width: 60vw;

  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Comfortaa", sans-serif;
  font-size: 1rem;
}

html, h1,h2,h3,h4,h5,h6 {
  color: #5c5b5b;
}

body {
  width: 100vw;
  background-color: #eae9e9;
  margin: 0;
  padding: 0;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: inherit;
}



/* main */

.main-grid {
  width: var(--display-width);
  margin: 0 auto;
  display: grid;
  grid-template-columns: 7fr 2fr;
  column-gap: 0.5rem;
  grid-auto-flow: row;
}

.publication{
  display: flex;
  margin-bottom: 1rem;
}

.publication img {
  width: 200px;
  aspect-ratio: 16 / 9;
  object-fit: fill;
  margin-right: 8px;
  border: 3px solid white ;
}

.publication .publication-content {
  background-color: white;
}

.publication-content {
  padding: 10px 8px 15px;
}

.publication-content h2,
.publication-content p {
  margin: 0;
}

.publication-content h2{
  margin-bottom: 1rem;
  margin-top: 10px;
}

.publication .publication-content div {
  font-size: 0.75rem;
  margin-bottom: 1rem;
}

.publication .publication-content div span {
  padding: 5px;
  letter-spacing: 2px;
}



/* Side Bar */
.sidebar{
  margin: 0;
  padding: 0;
}

.sidebar .search,
.sidebar .topics-section {
  background-color: white;
  padding: 15px;
  margin-bottom: 1rem;
}

.sidebar .topics-section h3,
.sidebar .search h3 {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  font-size: 1.5rem;
}

.sidebar .search input {
  box-sizing: border-box;
  width: 100%;
  outline: none;
  font-size: 1rem;
  padding: 10px;
  margin: 0;
  border: 1px solid rgba(65, 61, 61, 0.2);
  border-radius: 5px;
}

.sidebar .topics-section h3 {
  border-bottom: 1px solid rgba(65, 61, 61, 0.2);
  padding-bottom: 10px;
}

.sidebar .topics-section .topics-list{
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar .topics-section .topics-list li{
  margin: 0;
  padding: 0;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgba(65, 61, 61, 0.2);
}

.sidebar .topics-section .topics-list li a{
  transition: all 0.15s ease-in-out;
  padding: 15px 5px;
}

.sidebar .topics-section .topics-list li a:hover{
  transform: translateX(15px);
}

/* footer */

footer{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #303036;
  color: #d3d3d3;
}

footer .footer-container{
  width: var(--display-width);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 8rem;
}