:root {
  --display-width: 60vw;

  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Comfortaa", sans-serif;
  font-size: 1rem;
}

html, h1,h2,h3,h4,h5,h6 {
  color: #5c5b5b;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #eae9e9;
  margin: 0;
  padding: 0;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

a {
  text-decoration: none;
  color: inherit;
}

